<div class="fixed_card">
  <div class="">
    <!-- Expense brief -->
    <div class="card ">
      <div class="card_image grad_expense">
        <br>
        <div class="">
          <h1 class="fa fa-shopping-basket card_icon" aria-hidden="true">
            Lendings
          </h1>
          <div class="card_text">
            {{monthlyLending}} <i class="fa fa-inr "></i>
            <br />
            <div style="padding-left: 40%; font-size: 2rem;"> {{selectedMonth}} 2020</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <form class="mb-4" (submit)="getMonthAndYear()" >
    <div class="mb-4 md:w-full date_picker_margin">
      <label for="email" class="block text-xs mb-1">Choose Month and Year</label>
        <input type="month" id="monthyear" name="monthyear"  min="2000-03" value="2020-05" [(ngModel)]="monthyear">
        &nbsp;
        <input type="submit" class="bg-green-500 hover:bg-green-700 text-white uppercase text-sm font-semibold px-4 py-2 rounded" value="Find">
    </div>
  </form>
</div>



<div *ngFor="let lending of lendings">
  <div long-press (onLongPress)="deleterequest(lending.lendingID)" class="card_price">
    <div class="additional">
      <div class="user-card">
        <div class="level center">
          {{lending.lendingID}}
        </div>
        <div class="amount_price">{{lending.amount}}</div>
        <div class="points center">
          {{lending.month}} {{lending.year}}
        </div>
      </div>
      <div class="more-info">
        <!-- <h1>{{lending.title}}</h1> -->
        <div class="coords">
          <span>{{lending.month}} {{lending.year}}</span>
        </div>
        <div class="stats">
          <div>
            <div class="value">{{lending.month}} {{lending.year}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="general">
      <h1>{{lending.title}}</h1>
      <p>{{lending.description}} </p>
    </div>
  </div>
  <br/>
</div>
<br/><br/><br/>





  