.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 100%;
  height: 100%;
  border-radius: 40px;

  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}
/*
.card:hover {
  transform: scale(1.0, 1.1);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}
*/

.title-white {
  color: white;
}

.title-black {
  color: black;
}
.grad_expense{
  background: linear-gradient(45deg,#8fb9fb, #91d9fa, transparent 99%)
}

.card_icon{
  padding-left: 5%;
  font-size: 4rem;
  color: whitesmoke;
}

.card_text{
  padding-left: 5%;
  font-size: 3rem;
  color: whitesmoke;
  padding-left: 10px;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}




/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/


html, body {
  background: #FCEEB5;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card_price {
  width: 100%;
  height: 120px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 0rem;
}

.card_price h1 {
  text-align:center;
  font-size: x-large;
  font-family: sans-serif;
}

.card_price .general h1 {
  text-align: left;
  margin-left: 50px;
  color: gray;
  font-size: x-large;
  font-family: sans-serif;
}

.card_price .general p {
  margin-left: 50px;
  color: gray;
}
.card_price .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#88b6ff , #9adfff);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card_price:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card_price .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card_price .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: 0px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card_price .additional .user-card .level,
.card_price .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card_price .additional .user-card .points {
  top: 85%;
}

.card_price .additional .user-card svg {
  top: 50%;
}

.card_price .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card_price .additional .more-info h1 {
  color: #fff;
  margin-left: 10px;
  margin-bottom: 0;
}



.card_price .additional .coords {
  margin: 0 1rem;
  color: #fff;
  margin-left: 10px;
  font-size: 1rem;
}


.card_price .additional .coords span + span {
  float: right;
}

.card_price .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card_price .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card_price .additional .stats i {
  display: block;
}

.card_price .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card_price .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card_price .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card_price .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card_price .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.amount_price{
  font-size: xx-large;
  text-align: center;
  font-family: monospace;
  padding: 40px;
}

.fixed_card{
  position: relative;
  background: #fff;
  z-index: 4; 
  height: 30%;
}

.date_picker_margin{
  margin-left: 15%;
  margin-right: 15%;
}

.delete_icon{
  padding-right: 5%;
}
