* {
  box-sizing: border-box;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.navbar {
  background: #fdfdfd;
  width: 100%;
  background-color: #fdfdfd;
  position: absolute;
  z-index: 3;
  display: inline-flex;

  box-shadow: 0px 20px 40px rgba(18, 34, 64, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  bottom: 0px;
}
.navbar:after {
  content: "";

  background-color: #dddddd;
  position: relative;
  z-index: 3;
  background: #d9e0ea;
  bottom: 8px;

  height: 3px;
  transform: translatex(-50%);
  opacity: 0.7;
}
.navbar__item {
  width: 77px;
  height: 70px;
  position: absolute;
  cursor: pointer;
  padding: 20px;
  position: relative;
  display: inline-flex;

  font-size: 21px;
}
.navbar__item::before, .navbar__item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: currentColor;
  border-radius: 50%;
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.55s cubic-bezier(0.71, 0.03, 0.23, 0.95);
}
.navbar__item::after {
  box-shadow: 0 7px 15px currentColor;
}
.navbar__item.-blue {
  color: #06b8ff;
}

.navbar__item.-green {
  color: #32CD32		;
}
.navbar__item.-orange {
  color: #f2704d;
}
.navbar__item.-navy-blue {
  color: #8fb9fb;
}
.navbar__item.-yellow {
  color: #f8cd4b;
}
.navbar__item.-purple {
  color: #8444d6;
}
.navbar__item.-maroon {
  color: #E95454;
}
.navbar__item:hover::before, .navbar__item:hover::after {
  transform: translateY(-60px) scale(1.1);
}
.navbar__item:hover::before { 
  opacity: 1;
}
.navbar__item:hover::after {
  opacity: 0.4;
}
.navbar__item:active .navbar__icon {
  transform: translateY(-58px) scale(1.25);
  color: #fff;
  position: absolute;
  transition-delay: 0.1s, 0.1s;
}
.navbar__icon {
  transition: all 0.5s cubic-bezier(0.71, 0.03, 0.23, 0.95);
  transition-delay: 0.1s;
  display: inline-block;
  position: fixed;
  z-index: 2;
}
.flex_bar{
  width: 100%;
}